@import url(/static/fonts/font.css);

html,
body {
    margin: 0px;
    /* height: 100%;
    width: 100%; */
}

body {
    display: flex;
    justify-content: center;
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center;
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

#login-box {
    background-color: #FFFFFF90;
    margin: 1vmin;
    max-width: 70vw;
    max-height: 55vh;
    width: 40vmin;
    height: 50vmax;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    /* font-family: "Noto Sans TC", sans-serif; */
    font-family: "Microsoft JhengHei";
    align-items: center;
    z-index: 1;
}

#login-box .title {
    margin: 1vh 1vw;
    line-height: calc(min(3.6vmin, 3vmax) + 4px);
    font-size: min(3.6vmin, 3vmax);
    text-align: center;
}
#login-box .title:nth-of-type(1) {
    margin-top: 2vh;
}
#login-box .title:nth-of-type(2) {
    margin-bottom: 4vh;
}
#login-box hr {
    width: 65%;
    height: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #A0A0A0A0;
    margin: 2px auto;
}
#login-box input {
    position: relative;
    height: 3.5vmin;
    font-size: min(2.4vmin, 2vw);
    margin: 1vh auto;
    width: 80%;
    background-color: transparent;
    border-style: none;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #AAAAAA;
    outline: none;
    transition: border-color 0.5s;
}
#login-box input:focus {
    border-color: #000000;
}

#message-box {
    margin: 1vmin auto;
    font-size: min(2vmin, 1.5vw);
    width: 80%;
    color: #FFFFFF;
    height: 4vmin;
    line-height: 4vmin;
    text-indent: 0.5em;
    border-radius: 4px;
    background-color: #FF5555E0;
    user-select: none;
}

#valid-box {
    margin: 1vmin auto;
    display: flex;
    height: 4.5vmin;
    width: 80%;
    gap: 1vmin;
    align-items: center;
    justify-content: space-between;
    /* width: 70%; */
}
#valid-box input {
    line-height: 2vmin;
    font-size: 2vmin;
}
#valid-box img {
    object-fit: contain;
    height: 60%;
}

#login-box button {
    margin: 0.5vmin;
    width: 80%;
    height: 4vmin;
    line-height: 4vmin;
    font-size: 2.4vmin;
    border-style: solid;
    border-width: 0px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #DDDDDD;
    transition: background-color 0.5s;
    user-select: none;
}
#login-box button:hover {
    background-color: #999999;
}

@media (max-aspect-ratio: 1/1) {
    #login-box {
        margin: 5vmin;
        max-width: 80vw;
        width: 80vw;
        max-height: 100vw;
        height: 100vw;
    }

    #login-box .title {
        line-height: calc(7vw + 4px);
        font-size: 7vw;
    }

    #login-box input {
        height: 7vw;
        font-size: 5.5vw;
        margin: 1vh auto;
        width: 85%;
    }

    #message-box {
        margin: 1vh auto;
        font-size: 4.5vw;
        width: 85%;
        height: 7vw;
        line-height: 7vw;
        text-indent: 0.5em;
    }

    #valid-box {
        margin: 0.8vh auto;
        display: flex;
        height: 6.5vmin;
        width: 85%;
        gap: 1vmin;
        align-items: center;
        justify-content: space-between;
        /* width: 70%; */
    }
    #valid-box input {
        line-height: 5.5vmin;
        font-size: 5.5vw;
    }
    #valid-box img {
        object-fit: contain;
        height: 100%;
    }

    #login-box button {
        margin: 1.5vh;
        width: 85%;
        height: 9vmin;
        line-height: 7.5vmin;
        font-size: 6vmin;
    }
}