.title-box {
    position: relative;
    font-size: 2.2vh;
    margin: 8px;
    margin-top: calc(1em + 4px);
    min-width: 3em;
    width: max-content;
}

.title-box .sub-title {
    position: absolute;
    top: -1.2em;
    font-size: 1.6vh;
    display: flex;
    align-items: center;
}

.title-box .sub-title p {
    margin: auto 1px;
}

.title-box .context {
    word-break: keep-all;
}

.title-box:last-child .context {
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-box {
    width: calc(50% - 16px);
}

.title-box:last-child {
    width: calc(100% - 16px);
}

@media (max-aspect-ratio: 1/1) {
    .title-box {
        width: calc(50% - 16px);
    }

    .title-box:last-child {
        width: calc(100% - 16px);
    }
}