#announcement {
    overflow: hidden;
}

#announcement ul {
    margin: 2vh 1vh;
    max-height: calc(100% - 10vh - 3px);
    overflow-y: auto;
}

#announcement ul > li {
    font-size: 2.5vh;
    width: fit-content;
    cursor: pointer;
    transition: color 0.3s;
}

#announcement ul > li:hover {
    color: #ff8800;
}