#leave {
    position: relative;
}

#leave .new-leave,
#leave .old-leave {
    position: absolute;
    top: calc(6vh + 3px);
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.5s;
}

#leave .new-leave.display,
#leave .old-leave.display {
    opacity: 100%;
    pointer-events: initial;
}