.loading-page {
    pointer-events: none;
    opacity: 0%;
    transition: opacity 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-page.display {
    pointer-events: initial;
    opacity: 100%;
}

.loading-page .loading-box {
    height: 50vmin;
    width: 50vmin;
    font-size: 5vmin;
}
.loading-page .loading-box>p {
    color: #FFFFFF;
    animation: trans 3s infinite;
}
.loading-page .loading-box>div {
    background-color: #FFFFFF;
}

@keyframes trans {
    50% {
        color: #FFFFFF30;
    }
}