#other {
    overflow: hidden;
    overflow-y: auto;
    margin: 1vh auto;
    height: 100%;
    margin-bottom: calc(1vh + 18px);
    width: 90vw;
}

#other .block .title {
    padding-left: 0.2em;
    font-size: 3vh;
    height: 5vh;
    line-height: 5vh;
}

#other .block hr {
    margin: 1px;
    width: 100%;
    height: 1px;
    background-color: #AAAAAA;
    border-style: none;
}

#other .block.announcement .edit-block {
    font-size: 2vh;
    outline: none;
    width: calc(100% - 12px - 0.4em);
    padding: 0.2em;
    margin: 1vh auto;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #AAAAAA;
    min-height: 5em;
}

#other .block.announcement .tool-bar {
    display: flex;
    gap: 0.5em;
    margin: auto 5px;
}
#other .block.announcement button {
    height: 3.5vh;
    width: 8vh;
    font-size: 1.7vh;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    border-color: #888888;
    color: #888888;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s, border-color 0.3s;
}
#other .block.announcement button:first-child:hover {
    color: #FF0000;
    border-color: #FF0000;
}
#other .block.announcement button:last-child:hover {
    color: #22CC77;
    border-color: #22CC77;
}
