#query .title-bar button {
    display: flex;
    align-items: center;
    width: 6em;
}

#query .title-bar button p.ms {
    flex: 0;
}

#query .title-bar button p {
    height: 1em;
    line-height: 1em;
}

#query .content {
    position: relative;
    margin-top: 1vh;
    height: calc(100% - 7vh);
    overflow: hidden;
}

#query .content>div {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.5s, top 0.5s, height 0.5s;
}

#query .content>div.display {
    opacity: 100%;
    pointer-events: initial;
}

#query .content .query-page {
    position: relative;
    overflow: hidden;
}

#query .content .query-page>div {
    position: absolute;
    margin: 1vh;
    transition: left 0.5s, right 0.5s, top 0.5s, bottom 0.5s, height 0.5s, margin 0.5s;
    font-size: 2.5vh;
}

#query .content .query-page>div>.title {
    font-size: 3vh;
    margin-bottom: 2vh;
}

#query .content .query-page>hr {
    position: absolute;
    margin: 0px;
    border: none;
    background-color: #AAAAAA;
    opacity: 100%;
    transition: left 0.5s, top 0.5s, opacity 0.5s;
}

#query .content .query-page:has(.query-name.selected)>hr,
#query .content .query-page:has(.query-sid.selected)>hr,
#query .content .query-page:has(.query-sid):has(.query-sid input:focus)>hr {
    opacity: 0%;
}

@media (min-aspect-ratio: 1/1) {
    #query .content .query-page>div {
        width: calc(50% - 2.5vh);
        height: calc(100% - 2vh);
    }

    #query .content .query-page>hr {
        width: 1px;
        height: 100%;
        left: calc(50% - 0.5px);
    }

    #query .content .query-page .query-sid {
        left: 0px;
    }

    #query .content .query-page .query-name {
        right: 0px;
    }

    #query .content .query-page .query-name.selected,
    #query .content .query-page .query-sid.selected,
    #query .content .query-page .query-sid:has(input:focus) {
        margin-left: calc(25% + 1.25vh);
        margin-right: calc(25% + 1.25vh);
    }

    #query .content .query-page:has(.query-name.selected) .query-sid {
        left: -50%;
    }

    #query .content .query-page:has(.query-sid.selected) .query-name,
    #query .content .query-page:has(.query-sid):has(.query-sid input:focus) .query-name {
        right: -50%;
    }

    #query .content .query-page:has(.query-name.selected)>hr {
        left: 0px;
    }

    #query .content .query-page:has(.query-sid.selected)>hr,
    #query .content .query-page:has(.query-sid):has(.query-sid input:focus)>hr {
        left: 100%;
    }
}

@media (max-aspect-ratio: 1/1) {
    #query .content .query-page>div {
        width: calc(100% - 2vh);
        height: calc(50% - 2.5vh);
    }

    #query .content .query-page>hr {
        width: 100%;
        height: 1px;
        margin: 0px;
        top: calc(50% - 0.5px);
    }

    #query .content .query-page .query-sid {
        top: 0px;
    }

    #query .content .query-page .query-name {
        bottom: 0px;
    }

    #query .content .query-page .query-name.selected,
    #query .content .query-page .query-sid.selected,
    #query .content .query-page .query-sid:has(input:focus) {
        height: calc(100% - 2vh);
    }

    #query .content .query-page:has(.query-name.selected) .query-sid {
        top: -50%;
    }

    #query .content .query-page:has(.query-sid.selected) .query-name,
    #query .content .query-page:has(.query-sid):has(.query-sid input:focus) .query-name {
        bottom: -50%;
    }

    #query .content .query-page:has(.query-name.selected)>hr {
        top: 0px;
    }

    #query .content .query-page:has(.query-sid.selected)>hr,
    #query .content .query-page:has(.query-sid):has(.query-sid input:focus)>hr {
        top: 100%;
    }
}