#query .title-bar button {
    display: flex;
    align-items: center;
    width: 6em;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.5s, border-color 0.3s, color 0.3s;
}
#query .title-bar button.export-all,
#query:has(.query-results.display) .title-bar button {
    opacity: 100%;
    pointer-events: initial;
}

#query .title-bar button p.ms {
    flex: 0;
}

#query .title-bar button p {
    height: 1em;
    line-height: 1em;
}

#query .content {
    position: relative;
    margin-top: 1vh;
    height: calc(100% - 7vh);
    overflow: hidden;
}

#query .content>div {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.5s, top 0.5s, height 0.5s;
}

#query .content>div.display {
    opacity: 100%;
    pointer-events: initial;
}