.result-box {
    display: flex;
    position: relative;
    flex: 0;
    margin: 0.5vh 4px;
    margin-left: 0px;
    color: #666666;
    border-style: solid;
    border-radius: 4px;
    border-color: #FFBB77;
    border-width: 1px;
    user-select: none;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    background-color: #FFFFFF;
}

.result-box.accept {
    border-color: #99FFDD;
}
.result-box.reject {
    border-color: #FF8888;
}

.result-box::before {
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 1.5vh;
    text-align: center;
    width: 3.5em;
    height: 1.5em;
    line-height: 1.5em;
    color: #FFFFFF;
    border-radius: 0px 4px;
    transition: background-color 0.3s;
}

.result-box::before {
    content: "等待";
    background-color: #FFBB77;
}
.result-box.accept::before {
    content: "通過";
    background-color: #99FFDD;
}
.result-box.reject::before {
    content: "退回";
    background-color: #FF8888;
}

.result-box:hover,
.result-box.select {
    color: #000000;
    border-color: #FF8800;
}
.result-box.accept:hover,
.result-box.accept.select {
    border-color: #22CC77;
}
.result-box.reject:hover,
.result-box.reject.select {
    border-color: #FF0000;
}

.result-box:hover::before,
.result-box.select::before {
    background-color: #FF8800;
}
.result-box.accept:hover::before,
.result-box.accept.select::before {
    background-color: #22CC77;
}
.result-box.reject:hover::before,
.result-box.reject.select::before {
    background-color: #FF0000;
}

.result-box:first-child {
    margin-top: 0px;
}
.result-box:last-child {
    margin-bottom: 0px;
}

.result-box {
    flex-wrap: wrap;
}
