#leave .new-leave .flow {
    position: relative;
    width: 100%;
    height: 2vh;
    margin-top: 3vh;
    border-radius: 1vh;
    border-style: solid;
    border-width: 1px;
    border-color: #88888888;
    box-shadow: inset 0px 0px 0.3vh -0.2vh #000000;
}

#leave .new-leave .flow .tag {
    position: absolute;
    top: -3.8vh;
    left: calc(var(--pos) - 3em);
    width: 6em;
    font-size: 2vh;
    text-align: center;
    color: #88888888;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    transition: color 0.3s;
}

#leave .new-leave .flow .tag.activate {
    color: #222222;
    pointer-events: initial;
}

#leave .new-leave .flow .tag.activate:hover {
    color: #FF8800;
}

#leave .new-leave .flow::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: var(--proc);
    border-radius: 1vh;
    background-color: #FF8800;
    transition: width 0.3s;
}

@media (max-aspect-ratio: 1/1) {
    #leave .new-leave .flow .tag:nth-of-type(2), 
    #leave .new-leave .flow .tag:nth-of-type(4), 
    #leave .new-leave .flow .tag:nth-of-type(6) {
        top: 2.8vh;
    }
}
