#leave .new-leave .option {
    height: 4vh;
    width: 15em;
    margin: 0.5vh auto;
    color: #777777;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.8vh;
    border-color: #777777;
    background-color: #77777700;
    font-size: 2.5vh;
    line-height: 4vh;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s, background-color 0.3s;
}

#leave .new-leave .option.selected,
#leave .new-leave .option:hover {
    color: #FFFFFF;
    background-color: #777777;
}