#leave .new-leave .page {
    position: absolute;
    top: 6vh;
    margin: 2vh auto;
    animation: mount 0.5s;
    transition: opacity 0.5s;
}

#leave .new-leave .page.unmount {
    opacity: 0%;
}

@keyframes mount {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-aspect-ratio: 1/1) {
    #leave .new-leave .page {
        top: 8vh;
    }
}
