body {
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#copyright {
  position: absolute;
  font-size: 1.2vmin;
  left: 2px;
  bottom: 2px;
  user-select: none;
  font-family: "Noto Sans TC";
}

#copyright a {
  color: inherit;
  text-decoration: none;
}