html {
  height: 100%;
}

body {
  position: absolute;
  top: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  height: 100%;
}

::-webkit-scrollbar {
  margin: 1px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #88888888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

#content {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 8vh;
  margin-bottom: 20px;
  height: calc(100% - 18px - 8vh);
  width: 100%;
}

#content > div {
  height: 100%;
}

#copyright {
  position: absolute;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  left: 2px;
  bottom: 2px;
  user-select: none;
  font-family: "Noto Sans TC";
}

#copyright a {
  color: inherit;
  text-decoration: none;
}

@media (min-aspect-ratio: 1/1) {
  #content {
    width: calc(100% - 4.5vh - 4px);
    margin-left: calc(4.5vh + 4px);
  }
}