#query .query-results .results {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    position: relative;
    overflow-y: auto;
    height: 100%;
}

#query .query-results .results .icon {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-size: 4vh;
    color: #AAAAAA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.5s;
}

#query .query-results .results .icon .ms {
    font-size: 20vh;
    height: 20vh;
    line-height: 20vh;
}

#query .query-results.display .results .icon.display {
    opacity: 100%;
    pointer-events: initial;
}

@media (min-aspect-ratio: 1/1) {
    #query .query-results {
        display: flex;
        gap: 1vw;
    }

    #query .query-results .results {
        flex: 5;
    }

    #query .query-results .detail {
        flex: 3;
    }
}

@media (max-aspect-ratio: 1/1) {
    #query .query-results .detail {
        opacity: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        pointer-events: initial;
        width: calc(100% - 2px);
        background-color: #FFFFFF;
        transition: opacity 0.5s;
    }

    #query .query-results .detail.empty {
        opacity: 0%;
        pointer-events: none;
    }
}